<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Gym</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>Controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterController</display-name>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>Controller.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/RegisterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConnectionProvider</display-name>
    <servlet-name>ConnectionProvider</servlet-name>
    <servlet-class>Misc.ConnectionProvider</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectionProvider</servlet-name>
    <url-pattern>/ConnectionProvider</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdmLogin</display-name>
    <servlet-name>AdmLogin</servlet-name>
    <servlet-class>Misc.AdmLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdmLogin</servlet-name>
    <url-pattern>/AdmLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserBean</display-name>
    <servlet-name>UserBean</servlet-name>
    <servlet-class>Model.bean.UserBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserBean</servlet-name>
    <url-pattern>/UserBean</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDao</display-name>
    <servlet-name>UserDao</servlet-name>
    <servlet-class>Model.dao.UserDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDao</servlet-name>
    <url-pattern>/UserDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrainerController</display-name>
    <servlet-name>TrainerController</servlet-name>
    <servlet-class>Controller.TrainerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrainerController</servlet-name>
    <url-pattern>/TrainerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActiveUsersCount</display-name>
    <servlet-name>ActiveUsersCount</servlet-name>
    <servlet-class>Misc.ActiveUsersCount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActiveUsersCount</servlet-name>
    <url-pattern>/ActiveUsersCount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPassword</display-name>
    <servlet-name>ForgotPassword</servlet-name>
    <servlet-class>Controller.ForgotPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPassword</servlet-name>
    <url-pattern>/ForgotPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetPasswordController</display-name>
    <servlet-name>ResetPasswordController</servlet-name>
    <servlet-class>Controller.ResetPasswordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPasswordController</servlet-name>
    <url-pattern>/ResetPasswordController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailSender</display-name>
    <servlet-name>EmailSender</servlet-name>
    <servlet-class>Misc.EmailSender</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailSender</servlet-name>
    <url-pattern>/EmailSender</url-pattern>
  </servlet-mapping>
</web-app>